<div *ngIf="!loading"  class="main">
  <h2 class="title section parallax bg1">Proveedor</h2>
  <hr>
  <div *ngFor="let provider of listProviders; let i = index"  class="container">
    <div class="row">
      <div class="col">
          <p>ID: <span class="subtitle">{{provider.id}}</span></p>
          <p>Username: <span class="subtitle">{{provider.user_name}}</span></p>
          <p>Nombre: <span class="subtitle">{{provider.name}}</span></p>
          <p>Ranking: <span class="subtitle">{{provider.ranking}}</span></p>
          <mat-icon *ngIf="actualUser.id === 'admin'" class="icon delete" (click)="deleteProvider(provider.id)">delete</mat-icon>
          <mat-icon *ngIf="actualUser.id !== 'admin'" class="icon edit" (click)="openDialog()">edit</mat-icon>
          <mat-slide-toggle class="toggle" *ngIf="actualUser.id === 'admin'" [checked]="provider.block" (change)="onChangeToggle(provider.block,provider.id)">{{provider.block ? 'Desbloquear' : 'Bloquear'}}</mat-slide-toggle>
      </div>
      <div class="col">
        <agm-map class="map" [latitude]="+provider.lat" [longitude]="+provider.lon" [zoom]="15">
            <agm-marker [latitude]="+provider.lat" [longitude]="+provider.lon"></agm-marker>
        </agm-map>

      </div>
    </div>
  </div>
  <button class="custom-button" *ngIf="actualUser.id === 'admin'" mat-fab color="primary" (click)="openDialog()">
    <span style="font-size: 25px;">+</span>
  </button>
</div>
<div *ngIf="loading">
  <mat-spinner class="spinner"></mat-spinner>
</div>
