@import '../ui-utils/variables.scss';
.container{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.title{
  color: $primary-text-color
}
.card{
  width: 400px;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
