<div class="main">
  <h2 class="title">Login</h2>
  <hr>
  <form class="form" [formGroup]="loginGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input [formControl]="loginGroup.get('username')" required matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input [formControl]="loginGroup.get('password')" required matInput placeholder="Password">
    </mat-form-field>
    <button type="submit" class="button" mat-stroked-button color="primary" [disabled]="loginGroup.invalid">
      <mat-icon *ngIf="!loginGroup.invalid">done</mat-icon>
      <mat-icon *ngIf="loginGroup.invalid">warning</mat-icon>
    </button>
  </form>

</div>
