<div class="container text-center mx-auto">
  <mat-card class="card text-center mx-auto">
    <mat-card-title class="title">Login</mat-card-title>
    <mat-card-content>
      <form class="form">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Username"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Password"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
