<div *ngIf="!this.loginService.isLogin" class="mainContainer shadow-sm rounded">
  <div class="navBar">
    <a *ngIf="admin" [routerLink]="['/admin/add-product']">Producto</a>
    <a [routerLink]="['/provider/providers']">Proveedor</a>
    <a *ngIf="provider" [routerLink]="['/provider/show-stocktaking']">Inventario</a>
    <a *ngIf="provider"[routerLink]="['/provider/purchases-report']">reportes</a>
    <a class="leaveOption" (click)="signOut()">Salir</a>
  </div>
  <!--<h1>Verduleria virtual</h1>-->
</div>

<router-outlet></router-outlet>
