<div class="mainContainer">
  
  <form
    [formGroup]="stockFG"
    (ngSubmit)="onSubmit()"
  >
  <h4 style="text-align: center">{{title}}</h4>

    <p *ngIf="this._providerServices.action == false" style="text-align: center; font-size: 25px">{{this.stock.productname}}</p>

    <mat-form-field *ngIf="this._providerServices.action == true">
      <mat-label>Seleccione el producto</mat-label>
      <mat-select [(ngModel)]="product" [ngModelOptions]="{standalone: true}"
      >
        <mat-option *ngFor="let product of _providerServices.productsList" [value]="product" >
          {{product.productname}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        [formControl]="stockFG.get('count')"
        matInput
        type="number"
        placeholder="Cantidad"
      >
    </mat-form-field>

    <mat-form-field>
      <input
        [formControl]="stockFG.get('price')"
        matInput
        type="number"
        placeholder="Precio"
      >
    </mat-form-field>

    <mat-form-field>
      <input
        [formControl]="stockFG.get('description')"
        matInput
        type="text"
        placeholder="Descripción"
      >
    </mat-form-field>
    <button
      disabled
      mat-button
      type="submit"
      [disabled]="!stockFG.valid"
    >
      {{buttonLabel}}
    </button>
  </form>
</div>
