@import '../../ui-utils/variables';

.mainContainer{
  display:flex; 
  flex-direction: column;
  text-align: center;
}

.navBar{
  background-color: $primary-color;
  width: 100%;
  display:flex; 
  justify-content: center;
  flex-direction: row;
}

a{
  padding: 0.5% 1% 0.5% 1%;
  color: $primary-text-color;
}

a:hover{
  cursor: pointer;
  color: $secondary-text-color;
}

h1{
  margin-top: 22%;
}

.leaveOption{
  right: 2%; 
  position: absolute;
}