@import '../../ui-utils/variables';

h1 {
  color: $primary-text-color
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
  height: 100%;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
  text-align: center;
  border: 0.5px solid rgba($color: #b8b8b8b4, $alpha: 0.2);
  border-radius: 15px;
  padding: 5%
}
mat-form-field{
  width: 100%;
  margin: auto
}

progress::-webkit-progress-value {
  transition: width 0.1 ease
}
progress {
  width: 100%
}
.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  height: 300px;
  border: 0.5px dashed $primary-color;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
      border: 2px solid #f16624;
      color: #dadada !important;
  }
}

#controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.5%;
}