@import '../../ui-utils/variables';

.mainContainer{
 display: flex;
 justify-content: center;
 flex-direction: column;
 padding: 2%;
}

.stocktakingContainer{
  width: 60%;
  text-align: center;
  padding: 2%;
  margin: 0.5% auto 0.5% auto;
  border-radius: 5px;
}

#iconsContainer{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#buttonAdd{
  position: fixed;
  right: 2%;
  bottom: 2%;
  background-color: $primary-color;
}

.title{
  position: fixed;
  text-align: center;
  padding: 2%;
}

i{
  margin: 0.5%;
  color: $primary-text-color;
}

i:hover{
  color:$secondary-text-color;
  cursor: pointer;
}

.containerPriceAndQuantity{
  display: flex; 
  justify-content: space-between; 
  flex-direction: row; 
  width: 40%; 
  margin: auto
}

.loading{
  height: 100%;
  padding-top:25%;
  width: 5%; 
  margin: auto; 
  text-align: center;
}
