<h2 class="title">Inventario</h2>
<div class="mainContainer">
    <div class="stocktakingContainer shadow-sm"
    *ngFor="let stock of stockList"
    >
      <h3>{{stock.productName}}</h3>
      <p>{{stock.description}}</p>
      <div class="containerPriceAndQuantity">
        <p>Precio: {{stock.price}}</p>
        <p>Cantidad: {{stock.quantity}}</p>
      </div>
      <div id="iconsContainer">
        <i class="material-icons"> delete </i>
        <i class="material-icons"> not_interested </i>
        <i class="material-icons" (click)="openCreateStock(false)"> create </i>
      </div>
    </div>  
</div>
<button mat-button id="buttonAdd" (click)="openCreateStock(true)">+</button>
